body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
table, th, td
{
    border: 2px solid rgb(15, 15, 15);
    border-collapse: collapse;
}
th{
    background-color: aqua;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
button{
    color: #fff;
    background-color: DarkCyan;
    border-color: #007bff;
}
button:hover{
    background-color: aquamarine;
    border-color: aquamarine;
    font-style: italic;
    font-size: 125%;
}
hr{
    border-style: inset;
    border-width: 3px;
    border-color: aqua;
}